<nav class="main_menu">
    <ul class="list_item level0">
        <li class="item"><a href="">주문상품 출고 화면</a></li>
        <li class="item tree_menu">
            <a href="">주문 관리</a>
            <ul class="list_item level1">
                <li><a href="">메뉴 관리</a></li>
                <li><a href="">주문 조회</a></li>
                <li><a href="">주문 취소</a></li>
            </ul>
        </li>
        <li class="item tree_menu">
            <a href="">메뉴 관리</a>
            <ul class="list_item level1">
                <li><a href="">Main Menu 관리</a></li>
                <li><a href="">Sub Menu 관리</a></li>
                <li><a href="">메뉴 품절 관리</a></li>
            </ul>
        </li>
        <li class="item tree_menu">
            <a href="">매출 관리</a>
            <ul class="list_item level1">
                <li><a href="">일 매출 관리</a></li>
                <li><a href="">월 매출 관리</a></li>
                <li><a href="">결제(승인 내역) 조회</a></li>
                <li><a href="">주문 취소 내역 조회</a></li>
            </ul>
        </li>
        <li class="item"><a href="">로그아웃</a></li>
    </ul>
</nav>